div.movie-details-layout {
    display: flex;
    flex-direction: column;

    div.movie-details-header {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;
        background-color: #032541D9;
        color: #FFFFFF;

        div.poster-container {
            display: flex;
            flex-direction: column;

            img {
                height: 100%;
                border-radius: 1rem;
                max-width: 300px;
            }
        }

        div.info-container {

            div.title-container {

                h4.title {
                    margin: 2rem 0 1rem;
                }
            }

            div.user-score-container {
                display: flex;
                flex-direction: row;
                
                div.user-score {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    border-radius: 25px;
                    background-color: #000000;
                    background: conic-gradient(red var(--progress), #000000 0deg);
                    border: 3px solid #000000;

                    span.average {
                        position: absolute;
                    }

                    &::after {
                        content: "";
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        height: calc(100% - 10px);
                        margin: 5px;
                        border-radius: 50%;
                        background: #000000;
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }

            div.general-info-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: 0.5rem;
                
                ul.genres {
                    margin: 0;
                    display: inline;
                    list-style: none;
                    padding: 0px;

                    li.genre {
                        display: inline;

                        &::after {
                            content: ", ";
                        }

                        &:last-child::after {
                            content: "";
                        }
                    }
                }

                div.separator {
                    background-color: #FFFFFF;
                    border-radius: 5px;
                    height: 5px;
                    width: 5px;
                }
            }

            div.tagline-container {
                display: flex;
                flex-direction: row;
                margin: 0.5rem 0;
  
                span.tagline {
                    font-style: italic;
                }
            }

            div.overview-container {

                p.overview {
                    margin: 0.5rem 0;
                }
            }
        }

        img.background {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        }
    }

    div.movie-details-body {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}

@media (max-width: 870px) {

    div.movie-details-layout div.movie-details-header {
        flex-direction: column;

        div.poster-container {
            align-items: center;
        }
    }
}
