<div class="movie-details-layout">

    <div class="movie-details-header">
        
        <div class="poster-container">
            <img class="poster" [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path" [alt]="movie.original_title">
        </div>
        
        <div class="info-container">

            <div class="title-container">
                <h4 class="title">
                    {{ movie.original_title }}
                    <span class="year"> {{ movie.release_date | year }} </span>
                </h4>
            </div>

            <div class="user-score-container">
                <div class="user-score" [style]="'--progress: ' + (((movie.vote_average * 10) * 360) / 100) + 'deg;'">
                    <span class="average"> {{ (movie.vote_average * 10) }} </span>
                </div>
            </div>

            <div class="general-info-container">
                <span class="release-date"> {{ movie.release_date }} </span>
                <div class="separator"></div>
                <ul class="genres">
                    <li class="genre" *ngFor="let genre of movie.genres"> {{ genre.name }} </li>
                </ul>
                <div class="separator"></div>
                <span class="runtime"> {{ movie.runtime | runtime }} </span>
            </div>

            <div class="tagline-container">
                <span class="tagline"> {{ movie.tagline }} </span>
            </div>

            <div class="overview-container">
                <h6 class="title"> Overview </h6>
                <p class="overview"> {{ movie.overview }} </p>
            </div>
        </div>

        <img class="background" [src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path" [alt]="movie.original_title">

    </div>

    <div class="movie-details-body">
        
    </div>

    <div class="loading-container" *ngIf="loading">
        CARGANDO
    </div>

</div>
