<body>
  <div class="center-item">
    <form>
      <input type="text" placeholder="Enter username" [(ngModel)]="userName">
      <input type="password" placeholder="Enter password" [(ngModel)]="password">
      <button igxButton="outlined" igxRipple type="button" (click)="signIn()">Login</button>
    </form>
  </div>

  <!-- <ng-container *ngIf="">
    <igx-dialog #alert title="Notification" id="alert" [message]= "alertMessage" leftButtonLabel="OK"
      (leftButtonSelect)="alert.close()">
    </igx-dialog>
  </ng-container> -->

</body>
