<div class="search-column">
  <igx-input-group type="search" class="search">
    <igx-prefix>
      <igx-icon>search</igx-icon>
    </igx-prefix>
    <input #search igxInput placeholder="Search for movies" [(ngModel)]="searchMovie">
    <igx-suffix *ngIf="search.value.length > 0" (click)="searchMovie = null!">
      <igx-icon>clear</igx-icon>
    </igx-suffix>
  </igx-input-group>

  <div class="list-movies">
    <igx-list [displayDensity]="density">
      <igx-list-item [isHeader]="true">Movies</igx-list-item>
      <div [style.height]="'500px'" [style.overflow]="'hidden'" [style.position]="'relative'">
        <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item [routerLink]="['/movie-details/' + movie.id]" 
          *igxFor="let movie of popularMoviesList | igxFilter: filterMovies; scrollOrientation : 'vertical'; containerSize: '500px'; itemSize: '50px'">
          <igx-avatar igxListThumbnail [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path" [roundShape]="true"></igx-avatar>
          <span igxListLineTitle>{{ movie.title }}</span>
          <span igxListLineSubTitle>{{ movie.release_date }}</span>
          <span class="span-popularity">{{ movie.popularity }}</span>
        </igx-list-item>
      </div>
    </igx-list>
    <igx-paginator #paginator [perPage]="20" [selectOptions]="[20]" [totalRecords]="totalPages" (pageChange)="onPageChange($event)" 
    (perPageChange)="navigateToFirstPage()">
    </igx-paginator>
    <!-- [perPage]="20" [selectOptions]="itemsPerPage"  -->
  </div>
</div>
