.search-column {
  padding-top: 3.5rem;
}

:host {
  display: block;
  padding: 16px;
}

.list-movies {
  display: block;
  position: relative;
  height: 550px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

igx-icon {
  cursor: pointer;
}

.search {
  margin-bottom: 16px;
}

.span-popularity {
  margin-right: 2rem;
}

:host ::ng-deep igx-page-size {
  display: none;
}

.button-container-login {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 30%;
  margin: 16px 0;
}
